{% extends 'layout.html' %}
{% load staticfiles %}

{% block js_addons %}
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript">
        var keywords = "{{ keywords }}".split(" ");

        $(document).ready(function () {
            highlight_in($("#main_table"))
        });

        function highlight_in(element) {
            for (var i = 0; i < keywords.length; i++) {
                if (keywords[i] != "") {
                    var match = new RegExp(keywords[i], 'gi');
                    var element_text = element.html()
                            .replace(match, "<span class='keyword-highlight'>$&</span>");
                    element.html(element_text)
                }
            }
        }

        function showModal(id) {
            var modal_data = $('div.hidden#' + id);
            highlight_in(modal_data);

            var modal = $("#email_modal");
            $("#id_modal_title").html("Subject: " + $("#subject_" + id).text());
            $("#id_modal_body").html(modal_data.html());
            modal.modal();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(load_chart);

        function load_chart() {
            var url = '{% url 'line_chart_json' %}?counts={% for c in graph_counts %}{{ c }},{% endfor %}';

            if ({{ found|lower }}) { {# Found will be python True/False, lower makes it work in js #}
                $.get(url, function (data) {
                    var ctx = $("#email_histogram").get(0).getContext("2d");
                    new Chart(ctx).Line(data,
                            {
                                responsive: true,
                                pointDot: true,
                                pointDotRadius: 3,
                                scaleOverride: true,
                                scaleSteps: {{ max_count_array_value }},
                                scaleStepWidth: 1,
                                scaleStartValue: 0,
                                scaleLabel: "      <%=value%>"
                            }
                    );
                })
            }
        }

    </script>

{% endblock %}

{% block main_content %}
<div class="container">

    <h1>Search for Keyword</h1>
    <form method="get" class="form-inline">
        {{ form.as_p }}
        <input type="submit" class="form-control btn btn-info" value="Search">
    </form>

    {% if results %}
    <div class="pagination">
                <span class="step-links">
                    {% if results.has_previous %}
                        <a href="?keywords={{ keywords }}&start_date={{ start_date }}&end_date={{ end_date }}&people={{ people }}&page={{ results.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ results.number }} of {{ results.paginator.num_pages }}
                    </span>

                    {% if results.has_next %}
                        <a href="?keywords={{ keywords }}&start_date={{ start_date }}&end_date={{ end_date }}&people={{ people }}&page={{ results.next_page_number }}">next</a>
                    {% endif %}
                </span>
    </div>

    <canvas id="email_histogram" width="900" height="400"></canvas>

    <div class="text-center yaxis_content">Frequency</div>

    <div class="text-center xaxis_content">Time of Day</div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date/Time</th>
        </tr>
        </thead>
        <tbody id="main_table">
        {% for result in results %}
            <tr>
                <td>
                    <a onclick='showModal({{ result.id }})'>{{ result.from_address.0 }}</a>
                </td>
                <td>
                    <a onclick='showModal({{ result.id }})'
                       id="subject_{{ result.id }}">{{ result.subject }}</a>
                </td>
                <td>
                    <a onclick='showModal({{ result.id }})'>{{ result.date|date:"DATETIME_FORMAT" }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for result in results %}
    <div class="hidden" id="{{ result.id }}">
        <div><span class="modal-form-field-name">From:</span>
            {% for from in result.from_address %}
                <a href="{% url 'user_detail' email_address=from %}">{{ from }}</a>;
            {% endfor %}
        </div>

        <div><span class="modal-form-field-name">To:</span>
            {% for to in result.to %}
                <a href="{% url 'user_detail' email_address=to %}">{{ to }}</a>;
            {% endfor %}
        </div>

        <div><span class="modal-form-field-name">CC:</span>
            {% for cc in result.cc %}
                <a href="{% url 'user_detail' email_address=cc %}">{{ cc }}</a>;
            {% endfor %}
        </div>

        <div><span class="modal-form-field-name">BCC:</span>
            {% for bcc in result.bcc %}
                <a href="{% url 'user_detail' email_address=bcc %}">{{ bcc }}</a>;
            {% endfor %}
        </div>
					<span class="text-right">
						<a href="{% url 'keyword_search' %}?people=



                                {% for a in result.to %}{% if forloop.counter0 > 0 %}%20{% endif %}{{ a }}{% endfor %}{% for a in result.cc %}%20{{ a }}{% endfor %}{% for a in result.bcc %}%20{{ a }}{% endfor %}{% for a in result.from_address %}%20{{ a }}{% endfor %}">
                            View all e-mails between users
                        </a>
					</span>
        <div>
            <p><span class="modal-form-field-name">Body:</span></p>
            {% autoescape off %}
            <span class="mailcontent">{{ result.body|linebreaksbr }}</span>
            {% endautoescape %}
        </div>
    </div>
    {% endfor %}

    <div class="modal fade" id="email_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="id_modal_title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p class="data" id="id_modal_body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}