{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block subtitle %}{% endblock %}Email Analytics Engine</title>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    {% block css_addons %}{% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% block js_addons %}{% endblock %}

    {% block layout_custom_css %}{% endblock %}
</head>

<body>

{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" id="navbar-home">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">
                    Email Analytics Engine {# TODO: Replace with image #}
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url "upload_data" %}">Upload Data</a>
                    </li>
                    <li>
                        <a href="{% url "address_search" %}">Email Address Search</a>
                    </li>
                    <li>
                        <a href="{% url "keyword_search" %}">Keyword Search</a>
                    </li>
                {% endif %}
                    {% block nav_bar_main_links %}{% endblock %}
                </ul>

                <div class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            <li><a href="{% url "user_logout" %}">logout</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main_content %}{% endblock %}

{% block additional_scripts %}{% endblock %}

</body>
</html>
