{% extends 'layout.html' %}
{% block main_content %}
<div class="container">
    <h1>User Login</h1>
    {% if error_message %} <p align="center" style="color:red;"><strong> {{error_message}}</strong></p> {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Login">
        </div>
    </form>
</div>
{% endblock %}