{% extends 'layout.html' %}

{% block main_content %}
    <div class="container">
        <h1>Search for person</h1>
        <form method="get" class="form-inline">
            <div class="form-group">
                <label for="id_search_text">Name:</label>
                <input id="id_search_text" type="text" name="address" class="form-control">
            </div>
            <input type="submit" class="btn btn-info" value="Search">
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email Address</th>
            </tr>
            </thead>
            <tbody>
            {% for address in results %}
                <tr>
                    <td>
                        <a href="{% url 'user_detail' email_address=address %}">{{address}}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}