{% extends 'layout.html' %}

{% block main_content %}
    <div class="container">
        <h1>Upload zipped email directory</h1>
        {% if success %}
            <h2 class="success">Upload successful; importing begun in background.</h2>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Upload" class="form-control btn btn-success">
        </form>
    </div>
{% endblock %}