{% extends "layout.html" %}
{% load static %}

{% block js_addons %}
    <script src="{% static "js/dist/sigma.min.js" %}"></script>
    <script src="{% static 'js/dist/plugins/sigma.layouts.forceLink.min.js' %}"></script>
    <script src="{% static 'js/dist/plugins/sigma.plugins.tooltips.min.js' %}"></script>
    <script src="{% static 'js/dist/plugins/sigma.renderers.edgeLabels.min.js' %}"></script>
    <script src="{% static 'js/dist/plugins/sigma.renderers.linkurious.min.js' %}"></script>
{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>{{ email_address }}

            <a href="http://127.0.0.1:8000/search/keyword?keywords=&start_date=&end_date=&people={{ email_address }}"
           class="btn btn-primary">View All Emails</a>

        </h1>

        <span id="graph"></span>
    </div>

    <script>
        if (!String.prototype.format) {
            String.prototype.format = function () {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function (match, number) {
                    return typeof args[number] != 'undefined'
                            ? args[number]
                            : match;
                });
            };
        }

        $(document).ready(function () {
            var s = new sigma({renderer: {container: 'graph', 'type': 'canvas'}});
            s.settings({
                defaultEdgeType: 'arrow',
                defaultNodeColor: '#AB1515',
                edgeColor: 'def',
                defaultEdgeColor: '#1F18A1',
                maxEdgeSize: 5,
                maxNodeSize: 25,
                enableEdgeHovering: true,
                edgeHoverSizeRatio: 1.1
            });

            var tt = sigma.plugins.tooltips(s, s.renderers[0],
                    {
                        node: [{
                            template: '<a href="/user/{0}">{0}</a><br/><div>sent/received {1} emails</div>',
                            renderer: function (node, template, clone) {
                                return template.format(node.label, node.size);
                            }
                        }],
                        edge: [{
                            template: '<a href="/connection/{0}/{1}">{0} -> {1}</a><br/><div>{0} sent {1} {2} emails</div>' +
                            '</br><a href="/search/keyword?people={0}%20{1}">View emails</a>',
                            renderer: function (edge, template, clone) {
                                return template.format(edge.source, edge.target, edge.size);
                            }
                        }]
                    });
            {% for key, node in nodes.items %}
                s.graph.addNode({{ node | safe }});
            {% endfor %}
            {% for key, edge in edges.items %}
                s.graph.addEdge({{ edge | safe }});
            {% endfor %}
            s.refresh();
            var forceLink = sigma.layouts.startForceLink(s, {autoStop: true});
        });

    </script>
{% endblock %}