body {
    padding-top: 40px;
    height: 100vh;
}

input[type="file"] {
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #5bc0de;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type="text"], input[type="password"], input[type="date"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#graph {
    position: absolute;
    height: 80%;
    width: 66%;
}

.sigma-tooltip {
    display: block;
    background-color: #eeeeee;
    box-shadow: #333333 1px 1px 1px 1px;
    padding: 5px;
}

.modal-form-field-name {
    font-weight: bold;
}

.keyword-highlight {
    font-weight: bold;
    color: red;
}

#email_histogram {
    display: block;
    margin: 10px auto;
}

.yaxis_content {
    position: relative;
    transform: rotate(-90deg);
    right: 10px;
    bottom: 220px;
    width: 200px;
}

.xaxis_content {
    position: relative;
    right: auto;
    bottom: auto;
    width: auto;
}